.footer {
    background: rgba(148, 133, 133, 0.418);
    padding: 20px 0 50px 40px;
    margin-top: 100px;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1 0 auto;
    margin-bottom: 100px;
}

.footer {
    flex: 0 0 auto;
}