.accountMenu {
    display: flex;
    flex-direction: row;
    margin: 5vh 0 0 0;
}

.mainInfo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.username {
    font-size: 1.75rem;
}

.profile_sect-title {
    font-size: 1.5rem;
    margin-top: 30px;
}

.vacancyInfo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 20px;
}

.editProfile {
    background: transparent;
    text-align: left;
    border: 0;
    padding: 0;
    margin-left: 50px;
    color: orange;
}

.pofile_container {
    margin: 5vh 0 0 0;
}

p {
    margin: 5px;
}

.avatar {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 100px;
    margin-right: 50px;
}

.user_resumes_container {
    margin-top: 20px;
}

.resumeButtons {
    display: flex;
    flex-direction: row;
}

.resumeButton {
    margin: 5px 5px;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #999;
}

.resumeCard,
.responseCard {
    border: 1px #999999 solid;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
}

.resumeCard {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card_buttons {
    display: flex;
    flex-direction: column;
}

.responseCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.myResponses_container {
    margin: 5vh 0 0 5vw;
    display: grid;
    gap: 20px;
}

.result {
    border: 2px orange solid;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    width: 100px;
}

.container1 {
    display: flex;
    flex-direction: row;
}

.light__button {
    outline: none;
    border: 1px solid #999;
    background-color: transparent;
    color: #333;
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px 15px;
}

.light__button-dark {
    outline: none;
    border: 1px solid #F88500;
    color: #000;
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px 15px;
    background-color: #fff9f3;
}

.light__button-small {
    margin-top: 10px;
}

.light__button:hover {
    border-color: #F88500;
    background-color: #fff9f3;
}


/* Resume Collection */

.resume__collection-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.card__button-second {
    background-color: var(--light-bg);
}

.button__collection {
    display: none;
}

.deleteItemButton {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 50px;
}

.imageContainer {
    position: relative;
}

.loadText {
    margin-right: 50px;
    width: 160px;
    height: 100%;
    top: 0;
    position: absolute;
    align-items: center;
    background-color: rgba(129, 127, 127, 0.36);
    text-align: center;
    border-radius: 100px;
    display: none;
    z-index: 10;
}

.imageContainer:hover .loadText {
    display: flex;
    justify-content: center;
}