input,
textarea {
    color: #333;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 0 10px;
}

input:focus,
textarea:focus {
    border-color: #F88500;
}

input {
    height: 40px;
    width: 100%;
}

.resume_container {
    /* display: flex; */
    margin-top: 80px;
}

.partition-1,
.partition-2,
.partition-3,
.partition-4,
.partition-mainInfo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.partition-1 {
    grid-template-rows: repeat(2, 1fr) 2fr;
}

.partition-2 {
    grid-template-rows: repeat(3, 1fr) 1.5fr 4fr;
}

.partition-3 {
    margin-top: 15px;
    border: 2px #999 solid;
    border-radius: 10px 10px 10px 0;
    padding: 25px;
    grid-template-rows: repeat(3, 1fr) 5fr;
    position: relative;
}

.partition-4 {
    margin-top: 20px;
    border: 2px #999 solid;
    border-radius: 10px 10px 10px 0;
    padding: 25px;
    grid-template-rows: repeat(2, 1fr) 3fr 1fr;
    position: relative;
}

.partition-mainInfo {
    grid-template-rows: repeat(2, 1fr);
}

.resume__mainInfo {
    margin-bottom: 40px;
    width: 50%;
}

.resume__desPosition {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.resume_desPosition_Form,
.resume_workExp_Form, .resume_educations_Form {
    width: 50%;
}

.resume_desPosition_Recomendation, .resume_workExp_Recomendation {
    width: 40%;
}

.resume__workExp {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.resume_educations {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}

textarea {
    resize: none;
}

.section {
    display: flex;
    flex-direction: column;
}


/* Образование */

.edu_level {
    /* margin-left: 10px; */
    border-radius: 5px;
    border: 1px solid #999;
    padding: 3px;
}

.edPeriod {
    display: flex;
    flex-direction: row;
}

.edPeriod select {
    border-radius: 5px;
    border: 1px solid #999;
}

.deleteItemButton {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    color: #333;
    border: none;
    background-color: transparent;
    font-weight: 600;
}

/* Опыт работы */
.btn_add {
    border: 1px solid #999;
    border-top: none;
    border-radius: 0 0 5px 5px;
    color: #F88500;
    background-color: #fff;
    padding: 5px 10px;
    font-weight: 700;
}

.resume_form {
    display: flex;
    flex-direction: column;
}


/* GENDER */

.gender_radio {
    /* display: inline-block; */
    margin-right: 30px;
}

.radio_input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 1px solid #F88500;
    transition: 0.2s all linear;
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.radio_input:checked {
    border: 6px solid #F88500;
}

/* CHECKBOX */
input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked) 
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #999;
    background-color: #ffffff;
    border-radius: 2px;
}


input[type="checkbox"]:checked + label:after{
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after {
    left: 3px;
    top: 5px;
    width: 13px;
    height: 6px;
    border-radius: 1px;
    border-left: 4px solid #F88500;
    border-bottom: 4px solid #F88500;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}








.data_container {
    display: flex;
    justify-content: flex-start;
}

.data_input {
    /* width: 100%; */
    max-width: 30%;
    margin-right: 10px;
}

.professions {
    max-height: 40px;
    border-radius: 5px;
}

.selectContainer {
    display: flex;
    justify-content: center;
}

.chart_block,
.busyness_block {
    display: flex;
    flex-direction: column;
}

.chart_block input,
.busyness_block input,
.exp_check input,
.education input {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.resume_form h5 {
    margin-bottom: 30px;
}

/* Recomendations */
.recomendation_header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.resume_desPosition_Recomendation p {
    margin-bottom: 15px;
}