.home-title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #333;
}

.home_container {
    position: relative;
    top: 20vh;
    font-family: var(--userfont);
}


/* SEARCH */

.search {
    padding-bottom: 20px;
}

.search__form {
    color: var(--text);
    font-weight: 400;
    font-size: 14px;
    padding: 8px 20px 8px;
    border: 1px solid var(--accent);
}

.search__form--prof {
    border-radius: 5px 0 0 5px;
    min-width: 475px;
}

.search__form--city {
    min-width: 160px;
    border-left: none;
    border-radius: 0;
}

.search__form--button {
    border-radius: 0 5px 5px 0;
}

.search__form--button:hover {
    color: #fff;
    text-decoration: none;
    background-color: var(--accent-light);
}

.search__form--button:active {
    background-color: var(--accent-dark);
}

.btn-filter {
    outline: none;
    background-color: #fff;
    color: var(--dark);
    border: 1px solid var(--text-light);
    border-radius: 5px;
    padding: 8px 20px;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    margin-right: 20px;
}


/* Vacancy Resume */

.search__result {
    /* margin-top: 40px; */
    margin: 40px 0;
}

.filters {
    margin-top: 2em;
    font-size: 14px;
    display: grid;
    grid-template-columns: 0.5fr 0.8fr 0.5fr 0.8fr;
    grid-template-rows: 1fr 5fr;
    gap: 1em 1.5em;
}

/* Cards */
.card__container {
    border: 1px var(--text-light) solid;
    border-radius: 5px;
    width: 30vw;
    margin: 15px 0 15px 0;
    padding: 15px;
    font-size: 17px;
    color: var(--text);
}

.card__title {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.card__subtitle {
    /* font-family: roboto-wt; */
    font-weight: 400;
    color: var(--accent);
}

.card__desc {
    font-size: 15px;
    font-weight: 400;
}

.card__address {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-light);
}

a {
    padding: 0;
}