.home-title {
    font-size: 30px;
}

.home_container {
    margin: 20vh 0 0 20vw;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}