.home {
    /* background: rgba(255, 237, 224, 0.3); */
}

.home-title {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
    color: #333;
}

.home_container {
    /* position: relative;
    top: 20vh; */
    margin-top: 200px;
    /* padding: 200px 0 100px 0; */
    font-family: var(--userfont);
}


/* SEARCH */

.search {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

.search__form {
    color: var(--text);
    font-weight: 400;
    font-size: 14px;
    padding: 8px 20px 8px;
    border: 1px solid var(--accent);
}

.search__form--prof {
    border-radius: 5px 0 0 5px;
    width: 20vw;
}

.search__form--city {
    width: 15vw;
    border-left: none;
    border-radius: 0;
}

.search__form--button {
    border-radius: 0 5px 5px 0;
}

.search__form--button:hover {
    color: #fff;
    text-decoration: none;
    background-color: var(--accent-light);
}

.search__form--button:active {
    background-color: var(--accent-dark);
}

.btn-filter {
    outline: none;
    background-color: #fff;
    color: var(--dark);
    border: 1px solid var(--text-light);
    border-radius: 5px;
    padding: 8px 20px;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    margin-right: 20px;
}


/* Vacancy Resume */

.search__result {
    margin-top: 50px;
    padding: 0;
}

.search__result a {
    padding: 0;
}

.filters {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 14px;
    display: grid;
    grid-template-columns: 0.5fr 0.8fr 0.5fr 0.8fr;
    grid-template-rows: 1fr 5fr;
    gap: 1em 1.5em;
}


/* Cards */

.card__container {
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 25px;
    font-size: 15px;
    color: var(--text);
    position: relative;
    box-sizing: border-box;
    box-shadow: 0px 0px 50px rgba(126, 121, 116, 0.27);
    /* box-shadow: 0px 0px 50px rgba(209, 209, 209, 0.4); */
}

.card__header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
}

.card__content {
    margin-bottom: 10px;
}

.card__bottom {
    display: flex;
    justify-content: space-between;
}

.card__title {
    font-weight: 600;
    font-size: 18px;
    color: #333;
}

.card__subtitle {
    /* font-family: roboto-wt; */
    font-weight: 600;
    font-size: 18px;
    color: var(--accent);
}

.card__desc {
    /* font-size: 15px;
    font-weight: 400; */
}

.card__shortdescription {
    line-height: 20px;
    /* font-size: 14px; */
    overflow: hidden;
    max-height: 40px;
    max-width: 600px;
}

.card__address {
    /* font-size: 15px;
    font-weight: 400; */
    color: var(--text-light);
    margin-bottom: 0;
}

.card_sample {
    margin: 0;
    margin-top: 20px;
    margin-right: 40px;
}

a {
    padding: 0;
}

.sorting {
    margin-bottom: 10px;
}

.sorting::before {
    content: 'Сортировать по:';
    margin-right: 10px;
}