.navigate {
	padding: 20px 0 20px;
    background: #fff;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
}

.nav_menu {
    display: flex;
    justify-content: space-between;
	align-items: center;
}

.nav_menu_active {
    visibility: visible;
    opacity: 1;
    transition: opacity .25s ease-out, visibility .25s ease-out;
}

.menu_toggle {
	display: none;
	width: 30px;
	height: 50px;
	background-image: url(./menu.svg);
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	top: 3px;
	right: 30px;
    background-color: transparent;
    border: none;
}

.menu_toggle_active {
	background-image: url(./close.svg);
    width: 30px;
	height: 50px;
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	top: 3px;
	right: 20px;
    background-color: transparent;
    border: none;
    z-index: 2;
}

.navigate_item {
    display: inline-block;
    text-align: center;
    color: var(--text);
}

.navigate_item:hover {
    color: var(--accent);
}

.sections_container {
    display: flex;
	align-items: center;
}


.reg_container {
    position: relative;
    
}

.accountMenu {
    position: relative;
}

