.register_page {
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}

.register_container {
    position: relative;
    display: flex;
    flex-direction: column;
    /* border: 2px black solid; */
    box-shadow: 0 0 15px rgb(165, 162, 162);
    padding: 30px;
    padding-top: 50px;
    /* background-color: rgb(255, 233, 193); */
    box-shadow: 0px 10px 60px #A6A6A6;
}

.register_container input {
    min-height: 35px;
}

.registerEmployer_container {
    flex-direction: row;
    align-items: center;
}

.registerForm_header {
    position: absolute;
    left: 136px;
    top: 20px;
    font-size: 19px;
    font-weight: 500;
}

.user_rights {
    margin-left: 40px;
}

.set_registr {
    background: transparent;
    text-align: left;
    border: 0;
    padding: 0;
    margin-bottom: 10px;
}

.submit_button {
    color: #fff;
    border: none;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    background-color: #F88500;
    padding: 8px 5px;
}

.label_for_input {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
}

.form_radio_btn {
    display: inline-block;
    /* margin: 5px 5px; */
}

.form_radio_btn:last-child {
    padding-left: 5px;
}

.form_radio_btn input[type=radio] {
    display: none;
}

.form_radio_btn label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 10px;
    line-height: 34px;
    border: 1px solid #999;
    border-radius: 6px;
    background: #f8f6f3;
    user-select: none;
}

.form_radio_btn input[type=radio]:checked+label {
    background-color: #FFFBF6;
    border: 1px solid #F88500;
}

.btn_checktype {
    display: flex;
    width: 100%;
    padding: 12px 0;
}


/* .form_radio_btn input[type=radio]:disabled+label {
    background: #efefef;
    color: #666;
} */

.registrForm_title_but input[type=radio] {
    display: none;
}

.registrForm_title_but {
    display: inline-block;
}

.registrForm_title_but label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    width: 100%;
    user-select: none;
    background: rgba(161, 160, 157, 0.795);
}

.registrForm_title_but input[type=radio]:checked+label {
    background-color: #fff;
}


/* 
.registrForm_title_but input[type=radio]:disabled+label {
    background: #e9e7e7;
} */

.registrForm_title {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.back_button {
    background: transparent;
    text-align: left;
    border: 0;
    padding: 0;
    position: absolute;
    top: 0px;
    margin: 20px;
    left: 0px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.confirmEmail {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    /* background: rgba(241, 231, 212, 0.877); */
    background-color: rgb(230 230 230 / 88%);
}

.code_confirm_button {
    margin-top: 20px;
    border-radius: 5px;
    background: #F88500;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.confirmLabel {
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.password-control {
    position: absolute;
    right: 5px;
    bottom: 17px;
    width: 20px;
    height: 20px;
    background-image: url(./view.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
}

.password-control.view {
    background-image: url(./no-view.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
}